/* pc.css */

body {
    font-size: 18px;
}

.mobile-only {
    display: none;
}

#main-header {
    width: 100%;
    min-width: 1120px;
    height: 80px;
    position: relative;
    background: #333;
}

#main-header .container {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#main-header h1 > img {
    width: 110px;
    height: 35px;
}

#main-header h1 {
    margin-top: 11px;
}

#gnb > ul {
    display: flex;
}

#gnb > ul > li {
    margin-left: 40px;
    margin-right: 40px;
}

#gnb > ul > li > a{
    color: #fff;
}

#gnb > ul > li > a:hover {
    color: var(--bg-color);
}

#right-menu > a {
    margin-left: 20px;
}

/* swiper slider */
.swiper {
    width: 100%;
    height: calc(100vh - 80px);
    background: #ccc;
    position: relative;
}

.swiper .swiper-slide.s1 {
    background-image: url(../images/main-visual01.jpg);
    background-size: cover;
    background-position: center;
}

.swiper .swiper-slide.s2 {
    background-image: url(../images/main-visual02.jpg);
    background-size: cover;
    background-position: center;
}


.swiper .swiper-slide.s1 .title {
    position: absolute;
    right: 300px;
    top: 270px;
}

.swiper .swiper-slide.s2 .title {
    position: absolute;
    left: 300px;
    top: 270px;
}


.slider-btn {
    color: #fff;
    font-weight: lighter;
    font-size: 24px;
}

.swiper .swiper-slide .title h3 {
    border: 1px solid #ddd;
    width: 225px;
    height: 67px;
    line-height: 60px;
    text-align: center;
    margin-top: 40px;
}


.swiper .swiper-slide .title h2 {
    font-size: 46px;
    color: #fff;
}


.swiper-pagination-bullet {
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 14px;
    height: 14px;
    background-color: transparent;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
}

.swiper-pagination {
    bottom: 50px !important;
}


/* main */


section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

section p {
    font-size: 20px;
}

main section.container {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section.container > img {
    width: 50%;
    flex: 1;
}

main section.container .text-box {
    display: flex;
    width: 100%;
    height: 480px;
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
}

.detail-btn {
    display: block;
    margin-top: 40px;
    width: 220px;
    height: 48px;
    border: 0.5px solid #ddd;
    text-align: center;
    color: #333;
    line-height: 45px;
    font-size: 16px;
}

#content02 {
    width: 1440px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 100px;
}

#content02 h2 {
    margin-bottom: 75px;
}

#content02 .box-inner {
    display: flex;
    justify-content: space-between;
}

#content02 .product > a > p {
    margin-top: 35px;
    color: var(--main-color);
}

#content02 .product > a > img {
    height: 283px;
}


#content03 {
    flex-direction: row-reverse;
}



/* about */
#about {
    width: 100%;
    height: 545px;
    margin: 0 auto;
    background-image: url(../images/about.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#about h2 {
    font-size: 48px;
    margin-bottom: 30px;
}

#about p {
    font-size: 24px;
}


/* footer */
footer {
    background: var(--main-color);
    width: 100%;
    height: 395px;
}

#main-footer {
    width: 1440px;
    margin: 0 auto;
    position: relative;
}

.footer-about {
    position: absolute;
    left: 60px;
    top: 40px;
    color: #fff;
}

.footer-about .about-text{
    margin-top: 57px;
    margin-bottom: 67px;
}

.footer-about .about-text > p:first-child {
    margin-bottom: 1em;
}

.footer-about .sns-group > a {
    margin-right: 10px
}

.menu-box {
    position: absolute;
    left: 400px;
    top: 50px;
    color: #fff;
}

.menu-box .footer-menu {
    margin-bottom: 63px;
}

.menu-box .footer-menu > ul {
    display: flex;
}

.menu-box .footer-menu > ul > li > a {
    color: #fff;
}

.menu-box .footer-menu > ul > li > span {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 12px;
    color: #ccc;
}


#email {
    width: 375px;
    height: 43px;
    margin-right: 0;
}

#subs-btn {
    cursor: pointer;
    width: 106px;
    height: 43px;
    background: transparent;
    border: 0.5px solid #ddd;
    color: #fff;
}

.subs > p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-info {
    font-size: 14px;
    margin-bottom: 20px;
}

.copy {
    font-size: 12px;
}